@media (min-width:572px) {
    .contenar {
        margin: 0px 15px !important;
    }

    .header .flex .nav {
        display: none !important;
    }

    .header .flex .logo {
        font-size: 12px !important;
    }

    .header .flex .baar a {
        padding: 10px !important;

    }
}